<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">{{sitename}}</a>
  <div id="navbar">
    <nav class="nav navbar-nav pull-xs-left">
      <a class="nav-item nav-link" href="#"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
    </nav>
    <form class="pull-xs-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>
